:root {}

html,
body,
#app {
  height: 100%;
}

#app {
  max-width: 600px;
}


@media (prefers-color-scheme: dark) {
  /* :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  } */
}